.loginPage {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
}