:root {
    --primary-color: #121212;
    --secondary-color: #2c2c2e;
    --background-color: #181818;
    --active-background-color: #3c3c3e;
    --accent-color: #007aff;
    --text-color: #f5f5f5;
    --dark-placeholder-color: #8e8e93;
    --border-radius: 10px;
    --white: #ffffff;
    --form-border-radius: 10px;
    --input-font-size: 15px;
    --form-height: 42px;
}